<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>犬猫認識</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<h2>犬猫認識</h2>
		<ul>
			<li><a href="recog.html" th:href="@{top}" class="btn4">TOP</a></li>
			<li><a href="history.html" th:href="@{history}" class="btn4">認識履歴</a></li>
		</ul>
	</header>
	<main>
		<div class="main_center">
			<h3>認識したい画像を選択して、「送信」ボタンを押してね！</h3>
			<form th:action="@{result}" method="post"
				enctype="multipart/form-data" accept="image/jpeg,image/png">
				<input type="file" name="uploadFile" /> <input type="submit"
					value="送信">
			</form>
		</div>
	</main>
	<footer>created by ume0222</footer>
</body>
</html>